*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.chakra-form-control {
  margin-bottom: 1rem;
}

.overlay__container {
  position: relative;
}

.overlay__container video {
  transition: 350ms all;
  border: 6px solid transparent;
}

.overlay__container:hover {
  cursor: pointer;
  border-color: teal;
}

.overlay__content {
  transition: 350ms all;
  opacity: 0;
  visibility: hidden;
}

.overlay__container:hover video {
  opacity: 0.7;
  border-color: teal;
}
.overlay__container:hover .overlay__content {
  opacity: 1;
  visibility: visible;
}

/* Hide control in video(for fullscreen) */

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
